APP_NAME=InvenPro
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://invenpro-backend.vercel.app
APP_TIMEZONE=Asia/Karachi

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=invenpro_db
DB_USERNAME=
DB_PASSWORD=

CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@invenpro.com"
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=invenpro-frontend.vercel.app
FRONTEND_URL=https://invenpro-frontend.vercel.app
